/* over write */
/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1210px) {
  .wider .grid {
    max-width: 1210px;
    margin: 0 auto;
  }
}

/* whole */


/* util */
.float-right { float:right; }

/* header */
.header { background:linear-gradient(to bottom,#2F5CA7 0%,#3C75D3 100%); height:132px; }
.logo { background:url('./img/logo.png'); width:321px; height:70px; margin:10px 0; }
.block_leader { background:url('./img/block_leader.png'); width:728px; height:90px; }
.nav-ul {  }
